@media (max-width : 1200px) {

    .G-title h1 {
        font-size : 40px;
    }

    /* ------  header media start  ------ */
    .P-header-search {
        position   : absolute;
        right      : 0;
        top        : 125%;
        opacity    : 0;
        visibility : hidden;
        transition : opacity var(--transition-all);
    }

    .P-search-mobile {
        margin-left : 25px;
    }

    .P-header-search input {
        height    : 40px;
        font-size : 14px;

    }

    .P-search-btn button {
        height    : 40px;
        font-size : 14px;
    }

    .P-search-mobile {
        display : block;
    }

    /* ------  header media end  ------ */
    /* ------  cover section media start  ------ */
    .P-cover-slider-box h3 {
        font-size : 28px;
        padding   : 0 80px;
    }

    /* ------  cover section media end  ------ */
    /* ------  options section media start  ------ */
    .P-options-padding {
        width : 50%;
    }

    .P-options-list {
        margin : 60px -15px;
    }

    /* ------  options section media end  ------ */
    /* ------  comments section media start  ------ */
    .P-comments-user {
        flex-direction : column;
        align-items    : flex-start;
    }

    .P-comments-profile {
        margin-left : 0;
        margin-top  : 15px;
    }

    .P-comment-block {
        flex-direction : column;
    }

    .P-comment-left, .P-comment-right {
        width : 100%;
    }

    .P-comment-right {
        max-width  : 700px;
        width      : 100%;
        margin     : 0 auto;
        margin-top : 40px;
    }

    .P-comment-left {
        padding-right : 0;
    }

    /* ------  comments section media end  ------ */
    /* ------  about pages section media start  ------ */
    .P-about-pages-padding {
        width : 50%;
    }

    .P-about-pages-section {
        margin : 0 -15px;
    }

    /* ------  about pages section media end  ------ */

}

@media (max-width : 990.98px) {
    .G-title h1 {
        font-size : 35px;
    }

    /* ------  cover section media start  ------ */
    .P-cover-slider .slick-prev, .P-cover-slider .slick-next {
        display : none !important;
    }

    /* ------  cover section media end  ------ */
    .P-home-left-links, .P-home-right-links {
        display : none;
    }
}

@media (max-width : 766.98px) {
    .G-title h1 {
        font-size : 24px;
    }

    /* ------  header media start  ------ */
    header {
        padding-right : 70px;
    }

    .P-menu-list-block {
        width            : 200px;
        right            : 0;
        top              : 0;
        position         : fixed;
        transition       : var(--transition-all);
        height           : 100vh;
        padding          : 50px 15px 15px 15px;
        background-color : var(--white-color);
        z-index          : 999;
        transform        : translateX(200px);
    }

    .P-menu-list-block > ul {
        flex-direction : column;
        align-items    : flex-end;
    }

    .P-menu-list-block > ul > li {
        text-align    : right;
        margin-bottom : 10px;
    }

    .P-menu-list-block > ul > li > a {
        padding     : 0;
        font-weight : bold;
    }

    .P-menu-sublist {
        position         : relative;
        opacity          : 1;
        visibility       : visible;
        width            : auto;
        background-color : transparent;
        padding          : 0;
    }

    .P-menu-sublist:after {
        display : none;
    }

    .P-menu-sublist:before {
        display : none;
    }

    .P-menu-sublist li a {
        text-align    : right;
        padding       : 0;
        padding-right : 15px;
        margin-top    : 6px;
        margin-bottom : 0;
        color         : var(--gray-bold-color);
    }

    .P-menu-sublist li {
        text-align : right;
    }

    .P-menu-sublist li a:before {
        right        : 0;
        left         : auto;
        border-color : var(--gray-bold-color);
    }

    .P-burger {
        display : block;
    }

    /* ------  header media end  ------ */
    /* ------  article media start  ------ */
    .P-article-title p {
        font-size : 14px;
    }

    .P-article-title + .P-article-title {
        margin-left : 0;
        margin-top  : 15px;
    }

    .P-article-image-info {
        flex-direction : column;
        align-items    : flex-start;
    }

    /* ------  article media end  ------ */
    /* ------  comments section media start  ------ */
    .P-comments-box {
        flex-direction : column;
    }

    .P-comments-image {
        min-height : 250px;
        width      : 100%;
    }

    .P-comments-information-block {
        width        : 100%;
        padding-left : 15px;
    }

    /* ------  comments section media end  ------ */
    /* ------  subscribe section media start  ------ */
    .P-subscribe-block h3 {
        font-size : 35px;
    }

    /* ------  subscribe section media end  ------ */
    /* ------  about pages section media start  ------ */
    .P-about-pages-padding {
        width   : 100%;
        padding : 15px;
    }

    .P-about-pages-box {
        padding : 25px;
    }


    /* ------  about pages section media end  ------ */
    /* ------  footer section media start  ------ */
    .P-footer-block {
        flex-direction : column;
        align-items    : center;
    }

    .P-footer-block ul {
        margin-top : 20px;
    }

    /* ------  footer section media end  ------ */
    .G-scroll-top {
        width  : 35px;
        height : 35px;
    }

    .G-scroll-top:before {
        width  : 6px;
        height : 6px;
    }
}

@media (max-width : 576.98px) {
    .G-title h1 {
        text-align : center;
    }

    /* ------  header media start  ------ */
    .P-search-block {
        position : unset;
    }

    .P-header-search {
        right        : 15px;
        width        : 100%;
        margin-left  : 0;
        padding-left : 30px;
        top          : 100%;
    }

    /* ------  header media end  ------ */
    /* ------  cover section media start  ------ */
    .P-cover-slider-box h3 {
        font-size   : 20px;
        padding     : 0 20px;
        line-height : 1.3;
    }

    .P-cover-slider-person span, .P-cover-slider-person a {
        padding : 7px 7px;
    }

    /* ------  cover section media end  ------ */
    /* ------  options section media start  ------ */
    .P-options-padding {
        width : 100%;
    }

    .P-options-box {
        min-height : 150px;
    }

    .P-article-information p {
        font-size : 13px;
    }

    /* ------  options section media end  ------ */
    /* ------  comments section media start  ------ */
    .P-comment-section {
        margin : 60px 0;
    }

    .P-comments-image {
        min-height : 200px;
    }

    .P-comments-right-box {
        padding : 25px;
    }

    .P-comments-information p {
        font-size : 15px;
    }

    .P-comments-profile h3, .P-comments-profile span {
        font-size : 12px;
    }

    .P-comments-right-box + .P-comments-right-box, .P-comments-banner {
        margin-top : 40px;
    }

    .P-comments-banner {
        height : 270px;
    }

    /* ------  comments section media end  ------ */
    /* ------  subscribe section media start  ------ */
    .P-subscribe-input {
        flex-direction : column;
    }

    .P-subscribe-input label, .P-subscribe-btn {
        width : 100%;
    }

    .P-subscribe-btn {
        margin-left : 0;
        margin-top  : 20px;
    }

    .P-subscribe-section {
        padding : 45px 20px
    }

    .P-subscribe-block h3 {
        font-size : 28px;
    }

    /* ------  subscribe section media end  ------ */
    /* ------  footer section media start  ------ */
    .P-footer-block ul {
        flex-direction : column;
    }

    .P-footer-block p {
        text-align : center;
    }

    .P-footer-block ul li {
        margin-top : 15px;
    }

    /* ------  footer section media end  ------ */
}


@media (max-height : 400px) {
    .P-cover-slider-box {
        height     : auto;
        min-height : 450px;
    }


}
