:root {
    --transition-all   : 0.3s;
    --white-color      : #ffffff;
    --black-color      : #000000;
    --pink-color       : #a275c5;
    --pink-bold-color  : #d19bfb;
    --main-font-size   : 16px;
    --gray-color       : #eff2f3;
    --gray-bold-color  : #909698;
    --gray-light-color : #e4e8ea;
    --green-color      : #c9e77a;
    --yellow-color     : #ede070;
    --blue-color       : #9edbee;
}
