/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  ----- Global  styles start -----*/
@import '../../assets/font/fonts.css';

.G-logo a {
    width  : 125px;
    height : 25px;
}

.G-image-cover {
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

.G-image-contain {
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : contain;
}

.G-container {
    margin    : 0 auto;
    padding   : 0 15px;
    max-width : 1320px;
    width     : 100%;
}

.G-color-pink {
    background-color : var(--pink-bold-color);
}

.G-color-green {
    background-color : var(--green-color);
}

.G-color-blue {
    background-color : var(--blue-color);
}

.G-color-yellow {
    background-color : var(--yellow-color);
}

.G-title h1 {
    font-size      : 54px;
    font-family    : "Unica One Regular";
    font-weight    : normal;
    text-transform : uppercase;
}

.G-title {
    margin-bottom : 40px;
}

.G-checkbox {
    position : relative;
    display  : block;
    cursor   : pointer;
}

.G-checkbox input {
    display : none
}

.G-checkbox p {
    padding-left : 30px;
    text-align   : left !important;
}

.G-checkbox span {
    position         : absolute;
    left             : 0;
    width            : 20px;
    height           : 20px;
    background-color : var(--white-color);
    display          : block;
}

.G-checkbox span:before {
    position           : absolute;
    content            : '';
    width              : 11px;
    height             : 4px;
    border             : 2px solid var(--black-color);
    -webkit-transform  : rotate(130deg);
    -ms-transform      : rotate(130deg);
    transform          : rotate(130deg);
    border-left        : none;
    border-bottom      : none;
    left               : 5px;
    top                : 4px;
    opacity            : 0;
    visibility         : hidden;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.G-checkbox input:checked ~ span:before {
    opacity    : 1;
    visibility : visible;
}

/*  ----- Global  styles end -----*/


/* ----- page loader style start ----- */
.P-animation-end {
    -webkit-animation-name      : loader-end;
    animation-name              : loader-end;
    -webkit-animation-duration  : 1s;
    animation-duration          : 1s;
    -webkit-animation-fill-mode : forwards;
    animation-fill-mode         : forwards;
}

@-webkit-keyframes loader-end {
    from {
        opacity    : 1;
        visibility : visible
    }
    to {
        opacity    : 0;
        visibility : hidden
    }
}

@keyframes loader-end {
    from {
        opacity    : 1;
        visibility : visible
    }
    to {
        opacity    : 0;
        visibility : hidden
    }
}

.G-page-loader {
    width             : 100%;
    height            : 100vh;
    position          : fixed;
    z-index           : 999999;
    background-color  : var(--pink-color);
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    -webkit-box-pack  : center;
    -ms-flex-pack     : center;
    justify-content   : center;
}

.G-loader-icon {
    position                 : relative;
    margin                   : auto;
    -webkit-box-sizing       : border-box;
    box-sizing               : border-box;
    background-clip          : padding-box;
    width                    : 200px;
    height                   : 200px;
    border-radius            : 100px;
    border                   : 4px solid rgba(255, 255, 255, 0.1);
    -webkit-transform-origin : 50% 60%;
    -ms-transform-origin     : 50% 60%;
    transform-origin         : 50% 60%;
    -webkit-transform        : perspective(200px) rotateX(66deg);
    transform                : perspective(200px) rotateX(66deg);
    -webkit-animation        : spinner-wiggle 1.2s infinite;
    animation                : spinner-wiggle 1.2s infinite;
}

.G-loader-icon:before,
.G-loader-icon:after {
    content            : "";
    position           : absolute;
    margin             : -4px;
    -webkit-box-sizing : inherit;
    box-sizing         : inherit;
    width              : inherit;
    height             : inherit;
    border-radius      : inherit;
    opacity            : .05;
    border             : inherit;
    border-color       : transparent;
    -webkit-animation  : spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
    animation          : spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.G-loader-icon:before {
    border-top-color : #66e6ff;
}

.G-loader-icon:after {
    border-top-color        : #f0db75;
    -webkit-animation-delay : 0.3s;
    animation-delay         : 0.3s;
}

@-webkit-keyframes spinner-spin {
    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
    }
}

@keyframes spinner-spin {
    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
    }
}

@-webkit-keyframes spinner-fade {
    20% {
        opacity : .1;
    }
    40% {
        opacity : 1;
    }
    60% {
        opacity : .1;
    }
}

@keyframes spinner-fade {
    20% {
        opacity : .1;
    }
    40% {
        opacity : 1;
    }
    60% {
        opacity : .1;
    }
}

.G-scroll-top {
    position           : fixed;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    background-color   : var(--white-color);
    right              : 25px;
    bottom             : 25px;
    width              : 50px;
    height             : 50px;
    cursor             : pointer;
    opacity            : 0;
    visibility         : hidden;
    -webkit-transform  : translateY(60px);
    -ms-transform      : translateY(60px);
    transform          : translateY(60px);
}

.G-scroll-top.G-show-scroll {
    opacity           : 1;
    visibility        : visible;
    -webkit-transform : translateY(0);
    -ms-transform     : translateY(0);
    transform         : translateY(0);
}

.G-scroll-top:before {
    position          : absolute;
    content           : '';
    width             : 10px;
    height            : 10px;
    border            : 2px solid var(--black-color);
    left              : 50%;
    top               : 55%;
    -webkit-transform : translate(-50%, -50%) rotate(-45deg);
    -ms-transform     : translate(-50%, -50%) rotate(-45deg);
    transform         : translate(-50%, -50%) rotate(-45deg);
    border-left       : none;
    border-bottom     : none;
}

/* ----- page loader style end ----- */


/* ----- header style start ----- */

header {
    position           : fixed;
    padding            : 15px 3vw;
    width              : 100%;
    z-index            : 9999;
    background-color   : var(--white-color);
    -webkit-box-shadow : 0 0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow         : 0 0 2px 3px rgba(0, 0, 0, 0.05);
}

.P-menu-list > li {
    position : relative;
}

.P-menu-list > li > a {
    font-size : var(--main-font-size);
    padding   : 0 20px;
    color     : var(--black-color);
    display   : block;
}

.P-menu-list > li > a:hover {
    color              : var(--pink-color);
    -webkit-transition : color var(--transition-all);
    -o-transition      : color var(--transition-all);
    transition         : color var(--transition-all);

}

.P-menu-list > li > a:hover + .P-menu-sublist {
    opacity    : 1;
    visibility : visible;
}

.P-menu-sublist:hover {
    opacity    : 1;
    visibility : visible;
}

.P-menu-sublist {
    position           : absolute;
    width              : 200px;
    -webkit-transition : opacity var(--transition-all);
    -o-transition      : opacity var(--transition-all);
    transition         : opacity var(--transition-all);
    opacity            : 0;
    visibility         : hidden;
    left               : 50%;
    -webkit-transform  : translateX(-50%);
    -ms-transform      : translateX(-50%);
    transform          : translateX(-50%);
    top                : 140%;
    padding            : 10px 15px;
    background-color   : var(--gray-color);
}

.P-menu-sublist:before {
    position : absolute;
    content  : '';
    width    : 100%;
    height   : 100%;
    top      : -12px;
    left     : 0;
}

.P-menu-sublist:after {
    position            : absolute;
    content             : '';
    top                 : -20px;
    -webkit-transform   : translateX(-50%);
    -ms-transform       : translateX(-50%);
    transform           : translateX(-50%);
    left                : 50%;
    border              : 15px solid transparent;
    border-bottom-color : var(--gray-color);
}

.P-menu-sublist li a {
    position           : relative;
    padding            : 0 15px 0 25px;
    margin             : 7px 0;
    color              : var(--black-color);
    -webkit-transition : color var(--transition-all);
    -o-transition      : color var(--transition-all);
    transition         : color var(--transition-all);
}

.P-menu-sublist li a:hover {
    color : var(--pink-color);
}

.P-menu-sublist li a:hover:before {
    border-color : var(--pink-color);
}

.P-menu-sublist li a:before {
    position           : absolute;
    width              : 7px;
    height             : 7px;
    content            : '';
    left               : 0;
    top                : 50%;
    -webkit-transform  : translateY(-50%) rotate(45deg);
    -ms-transform      : translateY(-50%) rotate(45deg);
    transform          : translateY(-50%) rotate(45deg);
    border             : 2px solid var(--black-color);
    border-left        : none;
    border-bottom      : none;
    -webkit-transition : color var(--transition-all);
    -o-transition      : color var(--transition-all);
    transition         : color var(--transition-all);
}

.P-header-search {
    width       : 450px;
    margin-left : 25px;
}

.P-header-search label {
    display      : block;
    width        : calc(100% - 110px);
    margin-right : 20px;
}

.P-header-search input {
    width            : 100%;
    height           : 50px;
    background-color : var(--gray-color);
    padding          : 0 15px;
    font-size        : 16px;
    color            : var(--black-color);
}

.P-header-search input::-webkit-input-placeholder {
    font-weight : bold;
    color       : var(--black-color);
}

.P-header-search input::-moz-placeholder {
    font-weight : bold;
    color       : var(--black-color);
}

.P-header-search input:-ms-input-placeholder {
    font-weight : bold;
    color       : var(--black-color);
}

.P-header-search input::-ms-input-placeholder {
    font-weight : bold;
    color       : var(--black-color);
}

.P-header-search input::placeholder {
    font-weight : bold;
    color       : var(--black-color);
}

.P-search-btn {
    width : 110px;
}

.P-search-btn button {
    width              : 100%;
    height             : 50px;
    background-color   : var(--pink-bold-color);
    font-size          : 16px;
    color              : var(--black-color);
    font-weight        : bold;
    -webkit-transition : color, background-color var(--transition-all);
    -o-transition      : color, background-color var(--transition-all);
    transition         : color, background-color var(--transition-all);
}

.P-search-btn button:hover {
    background-color : var(--green-color);
}

.P-search-block {
    position : relative;
}

.P-search-mobile button {
    width              : 25px;
    height             : 25px;
    background-color   : transparent;
    cursor             : pointer;
    position           : relative;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-search-mobile button:before {
    position           : absolute;
    content            : '';
    width              : 100%;
    height             : 2px;
    background-color   : var(--black-color);
    border-radius      : 5px;
    -webkit-transform  : translate(-50%, -50%) rotate(45deg);
    -ms-transform      : translate(-50%, -50%) rotate(45deg);
    transform          : translate(-50%, -50%) rotate(45deg);
    left               : 50%;
    top                : 50%;
    opacity            : 0;
    visibility         : hidden;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-search-mobile button:after {
    position           : absolute;
    content            : '';
    width              : 100%;
    height             : 2px;
    background-color   : var(--black-color);
    border-radius      : 5px;
    -webkit-transform  : translate(-50%, -50%) rotate(-45deg);
    -ms-transform      : translate(-50%, -50%) rotate(-45deg);
    transform          : translate(-50%, -50%) rotate(-45deg);
    left               : 50%;
    top                : 50%;
    opacity            : 0;
    visibility         : hidden;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-active-search .P-search-mobile button {
    background-image : unset !important;
}

.P-active-search .P-search-mobile button:before, .P-active-search .P-search-mobile button:after {
    opacity    : 1;
    visibility : visible;
}

.P-active-search .P-header-search {
    opacity    : 1;
    visibility : visible;
}

.P-search-mobile {
    display : none;
}

.P-burger {
    position : fixed;
    top      : 20px;
    right    : 15px;
    height   : 20px;
    width    : 30px;
    z-index  : 9999;
    display  : none;

}

.P-burger span {
    position           : absolute;
    width              : 100%;
    height             : 3px;
    border-radius      : 3px;
    top                : 50%;
    margin-top         : -1px;
    left               : 0;
    display            : block;
    background         : var(--black-color);
    -webkit-transition : .5s;
    -o-transition      : .5s;
    transition         : .5s;
}

.P-burger span:first-child {
    top : 0;
}

.P-burger span:last-child {
    top : 20px;
}

.P-burger.P-open span {
    opacity : 0;
    top     : 50%;
}

.P-burger.P-open span:first-child {
    opacity           : 1;
    -webkit-transform : rotate(405deg);
    -ms-transform     : rotate(405deg);
    transform         : rotate(405deg);
}

.P-burger.P-open span:last-child {
    opacity           : 1;
    -webkit-transform : rotate(-405deg);
    -ms-transform     : rotate(-405deg);
    transform         : rotate(-405deg);
}

.P-bg-menu {
    position           : fixed;
    width              : 100%;
    left               : 0;
    height             : 100vh;
    top                : 0;
    background-color   : rgba(0, 0, 0, 0.5);
    z-index            : 10;
    opacity            : 0;
    visibility         : hidden;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-bg-menu.P-open {
    opacity    : 1;
    visibility : visible;
}

.P-menu-list-block.P-open {
    -webkit-transform : translateX(0);
    -ms-transform     : translateX(0);
    transform         : translateX(0);
}

/* ----- header style end ----- */


/* ----- cover section start ----- */

.P-cover-slider-box {
    height : 100vh;
}

.P-cover-slider .slick-prev {
    z-index : 99;
    left    : 60px;
    height  : 2px;
    width   : 40px;
}

.P-cover-slider .slick-next {
    z-index : 99;
    right   : 60px;
    height  : 2px;
    width   : 40px;
}

.P-cover-slider .slick-prev:before, .P-cover-slider .slick-next:before {
    width            : 100%;
    height           : 100%;
    position         : absolute;
    content          : '';
    background-color : var(--black-color);

}

.P-cover-slider .slick-prev:after, .P-cover-slider .slick-next:after {
    content       : '';
    width         : 20px;
    height        : 20px;
    border        : 3px solid var(--black-color);
    border-left   : none;
    border-bottom : none;
    display       : block;
    position      : absolute;
}

.P-cover-slider .slick-prev:after {
    -webkit-transform : rotate(-135deg);
    -ms-transform     : rotate(-135deg);
    transform         : rotate(-135deg);
    top               : -9px;
    right             : -4px;
}

.P-cover-slider .slick-next:after {
    -webkit-transform : rotate(45deg);
    -ms-transform     : rotate(45deg);
    transform         : rotate(45deg);
    top               : -9px;
    right             : -17px;
}

.P-cover-slider-box {
    overflow : hidden;
}

.P-cover-slider-box h3 {
    text-align              : center;
    line-height             : 50px;
    letter-spacing          : 2px;
    font-weight             : 400;
    font-size               : 34px;
    font-family             : 'Roboto Regular';
    text-transform          : uppercase;
    opacity                 : 0;
    visibility              : hidden;
    -webkit-transform       : translateX(500px);
    -ms-transform           : translateX(500px);
    transform               : translateX(500px);
    -webkit-animation-delay : 0.5s;
    animation-delay         : 0.5s;
    max-width               : 800px;
    width                   : 100%;

}

.P-cover-slider-person {
    opacity                 : 0;
    visibility              : hidden;
    -webkit-transform       : translateX(500px);
    -ms-transform           : translateX(500px);
    transform               : translateX(500px);
    -webkit-animation-delay : 1s;
    animation-delay         : 1s;
    margin-top              : 15px;
}

.P-cover-slider .slick-active h3, .P-cover-slider .slick-active .P-cover-slider-person {
    -webkit-animation-name      : fadeInInfo;
    animation-name              : fadeInInfo;
    -webkit-animation-duration  : 1s;
    animation-duration          : 1s;
    -webkit-animation-fill-mode : forwards;
    animation-fill-mode         : forwards;

}

@-webkit-keyframes fadeInInfo {
    from {
        opacity    : 0;
        visibility : hidden
    }
    to {
        opacity           : 1;
        visibility        : visible;
        -webkit-transform : translateX(0);
        transform         : translateX(0)
    }
}

@keyframes fadeInInfo {
    from {
        opacity    : 0;
        visibility : hidden
    }
    to {
        opacity           : 1;
        visibility        : visible;
        -webkit-transform : translateX(0);
        transform         : translateX(0)
    }
}

.P-cover-slider-person span, .P-cover-slider-person a {
    background-color   : var(--white-color);
    padding            : 7px 15px;
    -webkit-transition : unset;
    -o-transition      : unset;
    transition         : unset;
}

.P-cover-slider-person a {
    margin : 0 15px;
}

.P-cover-slider-person a span {
    width        : 15px;
    height       : 15px;
    display      : block;
    margin-right : 5px;
}

.P-cover-profile-img {
    width         : 35px;
    height        : 35px;
    border-radius : 50%;
    overflow      : hidden;
    margin-right  : 10px;
}

/* ----- cover section end ----- */


/* ----- options section start ----- */
.P-options-list {
    margin : 120px -15px;
}

.P-options-padding {
    padding : 15px;
    width   : 25%;
}

.P-options-box {
    min-height            : 200px;
    display               : -webkit-box;
    display               : -ms-flexbox;
    display               : flex;
    -webkit-box-align     : center;
    -ms-flex-align        : center;
    align-items           : center;
    -webkit-box-pack      : center;
    -ms-flex-pack         : center;
    justify-content       : center;
    -webkit-box-orient    : vertical;
    -webkit-box-direction : normal;
    -ms-flex-direction    : column;
    flex-direction        : column;
    -webkit-transition    : var(--transition-all);
    -o-transition         : var(--transition-all);
    transition            : var(--transition-all);
}

.P-options-box:hover {
    -webkit-transform : scale(0.9);
    -ms-transform     : scale(0.9);
    transform         : scale(0.9);
}

.P-options-box span {
    width   : 50px;
    height  : 50px;
    display : block;
}

.P-options-box {
    color : var(--black-color);
}

.P-options-box p {
    margin-top     : 15px;
    font-family    : "Unica One Regular";
    text-transform : uppercase;
    font-size      : 24px;
}


/* ----- options section end ----- */

/* ----- articles section start ----- */
.P-articles-section {
    margin : 60px 0;
}

.P-article-slider-box {
    color            : var(--black-color);
    background-color : var(--white-color);
    margin           : 0 15px;
}

.P-article-slider-image-block {
    position : relative;
    height   : 260px;

}

.P-article-slider-image {
    width    : 100%;
    height   : 100%;
    position : relative;
}

.P-article-slider-image:before {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    content            : '';
    background-color   : rgba(209, 155, 251, 0.8);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    opacity            : 0;
    visibility         : hidden;
}

.P-article-slider-image:hover:before {
    opacity    : 1;
    visibility : visible;

}

.P-article-image-info {
    position : absolute;
    top      : 15px;
    left     : 15px;
}

.P-article-title {
    padding            : 10px;
    background-color   : var(--white-color);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);

}

.P-article-title:hover {
    opacity : 0.7;
}

.P-article-title:hover span {
    -webkit-filter : grayscale(1) invert(100%);
    filter         : grayscale(1) invert(100%);
}

.P-article-title + .P-article-title {
    margin-left : 15px;
}

.P-article-title p {
    font-size : 16px;
}

.P-article-title span {
    width        : 15px;
    height       : 15px;
    display      : block;
    margin-right : 15px;
}

.P-article-slider-box {
    width     : 100%;
    max-width : 390px;
}

.P-article-information {
    margin : 10px 0 25px 0;
}

.P-article-information-block {
    padding : 15px;

}

.P-article-information h3 {
    font-size          : 24px;
    text-transform     : uppercase;
    font-family        : "Unica One Regular";
    margin-bottom      : 10px;
    font-weight        : normal;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);

}

.P-article-information p {
    color       : var(--gray-bold-color);
    font-size   : 16px;
    line-height : 1.4;
}

.P-article-user-image {
    width         : 35px;
    height        : 35px;
    margin-right  : 15px;
    border-radius : 50%;
    overflow      : hidden;
}

.P-article-user h3 {
    font-weight        : normal;
    font-size          : 14px;
    color              : var(--gray-bold-color);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-article-user-info p {
    font-size : 14px;
    color     : var(--gray-bold-color);
}

.P-articles-slicer-component {
    display          : -webkit-box !important;
    display          : -ms-flexbox !important;
    display          : flex !important;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
}

.P-articles-slider .slick-next, .P-articles-slider .slick-prev {
    display : none !important;
}

.P-article-slider-box:hover .P-article-information h3, .P-article-slider-box:hover .P-article-user h3 {
    color : var(--pink-color);
}

/* ----- articles section end ----- */


/* ----- comments section start ----- */
.P-comment-section {
    margin : 120px 0;
}

.P-comment-right {
    width : 380px;
}

.P-comment-left {
    width         : calc(100% - 380px);
    padding-right : 50px;
    margin-top    : -25px;
}

.P-comments-padding {
    padding : 20px 0;
}

.P-comments-image {
    width              : 210px;
    position           : relative;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-comments-image:before {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    content            : '';
    background-color   : rgba(209, 155, 251, 0.8);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    opacity            : 0;
    visibility         : hidden;
}

.P-comments-image:hover:before {
    opacity    : 1;
    visibility : visible;
}

.P-comments-information-block {
    width        : calc(100% - 210px);
    padding-left : 10px;
}

.P-comments-box {
    background-color : var(--white-color);
    color            : var(--black-color);
    cursor           : pointer;
}

.P-comments-box:hover .P-comments-information h3, .P-comments-box:hover .P-comments-profile h3 {
    color : var(--pink-color);
}

.P-comments-information-block {
    padding : 30px 20px;
}

.P-comments-information h3 {
    font-size          : 24px;
    text-transform     : uppercase;
    font-family        : "Unica One Regular";
    font-weight        : normal;
    margin-bottom      : 15px;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-comments-information p {
    font-size   : 18px;
    color       : var(--gray-bold-color);
    font-weight : 300;
}

.P-comments-count-box {
    padding           : 10px;
    background-color  : var(--gray-color);
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    height            : 40px;
}

.P-comments-count-box + .P-comments-count-box {
    margin-left : 15px;
}

.P-comments-count-box p {
    font-size : 14px;
}

.P-comments-count-box span {
    width        : 15px;
    height       : 15px;
    display      : block;
    margin-right : 8px;
}

.P-comments-profile-image {
    width         : 35px;
    height        : 35px;
    border-radius : 50%;
    overflow      : hidden;
    margin-right  : 10px;
}

.P-comments-profile {
    margin-left : 40px;
}

.P-comments-user {
    margin-top : 20px;
}

.P-comments-profile h3, .P-comments-profile span {
    font-size : 14px;
    color     : var(--gray-bold-color);
}

.P-comments-profile span {
    margin-left : 50px;
    display     : block;
}

.P-comments-right-box {
    background-color : var(--white-color);
    padding          : 40px;
    width            : 100%;
}

.P-comments-right-box + .P-comments-right-box {
    margin-top : 55px;
}

.P-comments-right-title h3 {
    font-size      : 24px;
    font-weight    : normal;
    font-family    : "Unica One Regular";
    text-transform : uppercase;
}

.P-comments-right-title {
    margin-bottom : 20px;
    margin-top    : 20px;
}

.P-most-like-image {
    width  : 60px;
    height : 60px;

}

.P-most-like-padding {
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-most-like-padding + .P-most-like-padding {
    margin-top : 25px;
}

.P-most-like-padding h3 {
    width        : calc(100% - 60px);
    padding-left : 25px;
    font-size    : 16px;
    font-weight  : normal;
    line-height  : 1.2;

}

.P-most-like-padding {
    color : var(--black-color);
}

.P-most-like-padding:hover h3 {
    color : var(--pink-color);
}

.P-most-like ul {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    margin-bottom     : 20px;
}

.P-most-like ul li {
    padding            : 10px 15px;
    cursor             : pointer;
    background-color   : var(--gray-color);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-most-like ul li.P-active-likes {
    background-color : var(--green-color);
}

.P-most-like ul li:hover {
    background-color : var(--pink-bold-color);
}

.P-most-like ul li + li {
    margin-left : 15px;
}

.P-most-like-box {
    display : none;
    opacity : 0;
}

.P-most-like-box.P-active-likes {
    display : block;
}

.P-popular-tags-list a {
    padding            : 10px;
    margin             : 7px;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    cursor             : pointer;
    background-color   : var(--green-color);
    color              : var(--black-color);
    font-size          : 14px;
    font-weight        : 200;
}

.P-popular-tags-list a:hover {
    background-color : var(--pink-bold-color);
}

.P-comments-banner {
    margin-top         : 60px;
    width              : 100%;
    height             : 350px;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    position           : relative;
}

.P-comments-banner:before {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    content            : '';
    background-color   : rgba(209, 155, 251, 0.8);
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    opacity            : 0;
    visibility         : hidden;
}

.P-comments-banner:hover:before {
    opacity    : 1;
    visibility : visible;
}

/* ----- comments section end ----- */

/* ----- subscribe section start ----- */
.P-subscribe-section {
    padding  : 70px 25px;
    position : relative;
}

.P-subscribe-section:before {
    position         : absolute;
    content          : '';
    width            : 100%;
    height           : 100%;
    left             : 0;
    top              : 0;
    background-color : var(--yellow-color);
    opacity          : 0.85;
}

.P-subscribe-block {
    position  : relative;
    max-width : 600px;
    width     : 100%;
    margin    : 0 auto;
}

.P-subscribe-block h3 {
    font-family    : "Unica One Regular";
    font-size      : 48px;
    text-transform : uppercase;
    text-align     : center;
    font-weight    : normal;
    margin-bottom  : 30px;
}

.P-subscribe-block p {
    font-size  : 18px;
    margin-top : 40px;
    text-align : center;
}

.P-subscribe-input-block, .P-subscribe-input {
    width : 100%;
}

.P-subscribe-input label {
    width   : calc(100% - 180px);
    display : block;
}

.P-subscribe-input input {
    width            : 100%;
    height           : 50px;
    background-color : var(--white-color);
    padding          : 0 15px;
    font-weight      : bold;
    color            : var(--black-color);
}

.P-subscribe-input input::-webkit-input-placeholder {
    color : var(--black-color);
}

.P-subscribe-input input::-moz-placeholder {
    color : var(--black-color);
}

.P-subscribe-input input:-ms-input-placeholder {
    color : var(--black-color);
}

.P-subscribe-input input::-ms-input-placeholder {
    color : var(--black-color);
}

.P-subscribe-input input::placeholder {
    color : var(--black-color);
}

.P-subscribe-btn {
    width       : 160px;
    margin-left : 20px;
}

.P-subscribe-btn button {
    width            : 100%;
    height           : 50px;
    color            : var(--black-color);
    background-color : var(--pink-bold-color);
    font-size        : 14px;
    font-weight      : bold;
}

.P-privacy-policy {
    margin-top : 30px;
}

.P-privacy-policy p {
    margin      : 0 !important;
    font-weight : 100;
    font-size   : 15px;
}

.P-privacy-policy p a {
    color : var(--gray-bold-color);
}

.P-privacy-policy span {
    top : -2px
}

.P-home-subscribe-section {
    position : relative;

}

.P-home-subscribe-section:before {
    position         : absolute;
    content          : '';
    left             : 0;
    top              : 50%;
    background-color : var(--gray-light-color);
    height           : 50%;
    width            : 100%;
}

/* ----- subscribe section end ----- */

/* ----- about-pages section start ----- */
.P-about-pages-bg {
    background-color : var(--gray-light-color);
}

.P-about-pages-section {
    padding : 70px 0;
    margin  : 0 -20px;

}

.P-about-pages-padding {
    width   : 33.3%;
    padding : 20px;
}

.P-about-pages-box {
    background-color : var(--white-color);
    min-height       : 300px;
    padding          : 40px 60px;
    height           : 100%;

}

.P-about-pages-title span {
    width         : 125px;
    height        : 25px;
    display       : block;
    margin-bottom : 20px;
}

.P-about-pages-title h3 {
    font-size      : 26px;
    font-weight    : normal;
    font-family    : "Unica One Regular";
    text-transform : uppercase;
    margin-bottom  : 20px;
}

.P-about-pages-description {
    color         : var(--gray-bold-color);
    font-size     : 16px;
    margin-bottom : 30px;
    line-height   : 1.4;
}

.P-about-pages-box h5 {
    font-size         : 30px;
    font-weight       : normal;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : end;
    -ms-flex-align    : end;
    align-items       : flex-end;
}

.P-about-pages-box h5 span {
    font-family : "Unica One Regular";
    font-size   : 20px;
    display     : block;
    margin-left : 5px;

}

.P-about-pages-notification li p, .P-about-pages-notification li a {
    color       : var(--black-color);
    display     : inline;
    line-height : 1.4;
}

.P-about-pages-notification li span {
    display : inline-block;
    margin  : 0 5px;
    color   : var(--pink-color);
}

.P-about-pages-notification li + li {
    margin-top : 15px;
}

.P-about-pages-links a {
    padding-left : 20px;
    position     : relative;
    color        : var(--black-color);
}

.P-about-pages-links li + li {
    margin-top : 7px;
}

.P-about-pages-links a:before {
    position           : absolute;
    width              : 7px;
    height             : 7px;
    content            : '';
    left               : 0;
    top                : 50%;
    -webkit-transform  : translateY(-50%) rotate(45deg);
    -ms-transform      : translateY(-50%) rotate(45deg);
    transform          : translateY(-50%) rotate(45deg);
    border             : 2px solid var(--black-color);
    border-left        : none;
    border-bottom      : none;
    -webkit-transition : color var(--transition-all);
    -o-transition      : color var(--transition-all);
    transition         : color var(--transition-all);
}


/* ----- about-pages section end ----- */

/* ----- footer section start ----- */
.P-footer-bg {
    background-color : var(--gray-light-color);
}

footer {
    padding-bottom : 30px;
}

.P-footer-block p {
    font-size : 16px;
    color     : var(--black-color);
}

.P-footer-block p a {
    color     : var(--black-color);
    font-size : 16px;

}

.P-footer-block ul li {
    margin : 0 15px;
}

.P-footer-block ul li a {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    color             : var(--black-color);
}

.P-footer-block ul li a span {
    width               : 20px;
    height              : 20px;
    display             : block;
    border-radius       : 50%;
    border              : 2px solid var(--black-color);
    background-size     : 60%;
    margin-right        : 10px;
    background-position : center;
    background-repeat   : no-repeat;
    margin-top          : 3px;

}

/* ----- footer section end ----- */

/* ----- home left links start ----- */
.P-home-left-links {
    position          : fixed;
    left              : 0;
    top               : 50%;
    -webkit-transform : translateY(-50%);
    -ms-transform     : translateY(-50%);
    transform         : translateY(-50%);
    z-index           : 99;

}

.P-home-left-links ul li a {
    height            : 50px;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
}

.P-home-left-links ul li a span {
    width               : 50px;
    height              : 100%;
    display             : block;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : 20px;
    background-color    : var(--pink-color);
    -webkit-transition  : var(--transition-all);
    -o-transition       : var(--transition-all);
    transition          : var(--transition-all);
}

.P-home-left-links ul li {
    margin-top : 3px;
}

.P-home-left-links ul li a p {
    opacity            : 0;
    visibility         : hidden;
    padding            : 10px;
    color              : var(--white-color);
    background-color   : #191e2d;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
    height             : 100%;
    display            : -webkit-box;
    display            : -ms-flexbox;
    display            : flex;
    -webkit-box-align  : center;
    -ms-flex-align     : center;
    align-items        : center;
    font-size          : 12px;
}

.P-home-left-links ul li a:hover span {
    width : 60px;
}

.P-home-left-links ul li a:hover p {
    opacity    : 1;
    visibility : visible;
}

/* ----- home left links end ----- */

/* ----- home right links start ----- */
.P-home-right-links {
    position          : fixed;
    right             : 0;
    top               : 50%;
    -webkit-transform : translateY(-50%);
    -ms-transform     : translateY(-50%);
    transform         : translateY(-50%);
    z-index           : 99;
}

.P-home-right-links ul li a {
    width              : 50px;
    height             : 50px;
    display            : -webkit-box;
    display            : -ms-flexbox;
    display            : flex;
    -webkit-box-align  : center;
    -ms-flex-align     : center;
    align-items        : center;
    -webkit-box-pack   : center;
    -ms-flex-pack      : center;
    justify-content    : center;
    -webkit-transition : var(--transition-all);
    -o-transition      : var(--transition-all);
    transition         : var(--transition-all);
}

.P-home-right-links ul li a:hover {
    background-color : var(--gray-light-color);
}

.P-home-right-links ul li a span {
    width               : 20px;
    height              : 20px;
    display             : block;
    border-radius       : 50%;
    border              : 2px solid var(--black-color);
    background-size     : 60%;
    background-position : center;
    background-repeat   : no-repeat;
}


/* ----- home right links end ----- */
