
/*====================Roboto====================*/

@font-face {
    font-family: 'Roboto Black';
    src: url(./Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto Black Italic';
    src: url(./Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(./Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url(./Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'Roboto Italic';
    src: url(./Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(./Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url(./Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(./Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Medium Italic';
    src: url(./Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(./Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto Thin Italic';
    src: url(./Roboto/Roboto-ThinItalic.ttf);
}


@font-face {
    font-family: 'Unica One Regular';
    src: url(./UnicaOne-Regular.ttf);
}
